body {
  margin: 0;
  text-align: center;
  font-family: lato, sans-serif;
}

.loading-icon {
  background: #fff !important;
}

.tab-container {
  max-width: 40rem;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.tab-container > * {
  padding: 10px;
  flex: 1 100%;
  background: #f5f5f5;
}

.tab-header-container {
  max-width: 20rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  min-height: 4rem;
  display: flex;
  justify-content: center;
  transition: background .3s,border .3s;
  text-transform: uppercase;
}
.tab-header-container:focus {
  outline: none;
}

.tab-header {
  letter-spacing: .12em;
  word-break: break-word;
  font-family: Lato !important;
  font-size: 0.8em;
  font-weight: 700;
}

.active-tab {
  background: #fff;
  border-bottom: none;
  color: #747a7e;
}

.content-pane {
  margin: 0 auto;
  min-height: auto;
  max-height: 40rem;
  max-width: 40rem;
  overflow: auto;
  border: 1px solid #ddd;
  border-top: none;
  box-sizing: border-box;
  transition: opacity .6s cubic-bezier(0,0,.3,1);
}

.tab-description-container {
  padding: 20px;
  margin: 0 auto;
}

.tab-description {
  text-align: left;
  color: #313537;
  font-family: Merriweather !important;
}

.content-image {
  width: 93%;
  padding: 20px 0 20px 0;
}